.App {
  text-align: center;
  height: 100vh;
}

.App.dark {
  color: rgb(255, 255, 255) !important;
  background-color: black !important;
}

.App.light {
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(3 169 244 / 13%) 0%, rgba(255, 255, 255, 0) 100%)
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #e5eaf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.green {
  color: #25b525 !important;
}

.red {
  color: #ff5858 !important;
}

.bold {
  font-weight: bold !important;
}

.loadAlert {
  font-size: 120%;
  text-align: center;
  margin: 200px auto 0 auto;
  width: 450px;
}

.loadAlert a {
  text-decoration: none;
  color: #03a9f4;
  font-weight: bold;
}



/* Hide number input field arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input field arrows on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}